body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        height: fit-content;
        background-color: #FAFAFA;
        padding: 50px;
    }
}

h1 {
    color: #901C1C;
    margin: 0px 100px 0px 0px;
    font-weight: 400;
    font-size: 36px;
}
@media screen and (max-width: 768px) {
    h1{
        margin-right: 0px;
    }
}

.logo {
    height: 50px;
    margin-left: 100px;
}
@media screen and (max-width: 768px) {
    .logo{
        margin-left: 0px;
    }
}

/****************SECTION PHOTOGRAPHES********************/

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media screen and (max-width: 1260px) {
    .photographer_section{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .photographer_section{
        grid-template-columns: 1fr;
    }
    .photographer_section article:nth-child(even){
        background-color: #FAFAFA;
    }
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0px;
}
@media screen and (max-width: 768px) {
    .photographer_section article h2{
        font-size: 32px;
    }
}

.photographer-card-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographer-description{
    font-family: 'DM Sans';
    font-size: 13px;
    text-align: center;
}

.location{
    color: #901C1C;
    margin: 0px;
}

.presentation {
    font-size: 10px;
    color: #000000;
    margin: 0px;
}

.price{
    font-size: 9px;
    color: #757575;
    margin: 0px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: -9px 4px 24px -5px rgba(0,0,0,0.19);
}

a{
    text-decoration: none;
}